<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width = device-width, initial-scale = 1, shrink-to-fit = no">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Home</title>
</head>

<body>
<div class="container">
    <nav class="navbar navbar-expand-sm navbar-dark bg-secondary">
        <a class="navbar-brand" href="homepage-static.html">ESCALADE-TOPO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/watchlist">Lien vers une autre page</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="WatchlistItemForm-static.html">Autre page</a>
                </li>
            </ul>
        </div>
    </nav>
    <h2 class="mt-4">Bienvenue sur le Blog ESCALADE-TOPO </h2>

    <table class="table">
        <thead class="thead-light">
        <tr>
            <th class="text-left">Site</th>
            <th class="text-left">Topo</th>
            <th class="text-left">a inventer</th>
            <th class="text-left">note</th>
            <th class="text-left"></th>
        </tr>
        </thead>
        <tbody>
        <tr>

        </tr>
        </tbody>
    </table>
    <hr/>
    <div>
        <div>Number of movies to watch: <span th:text="${numberOfMovies}"></div>
    </div>
</div>


</body>
</html>